body{
    font-family: 'Poppins', ;
    margin: 0px;
}
.half-width{
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.custom-position{
    margin-top: 130px;
}
#name-customization{
    margin-top: 0px;
    font-size: 35px;
    font-weight: 900;
    color: deeppink;
}
p{
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-color: deeppink;
    padding: 12px 40px;
    border-radius: 5px;
    color: white;

}