body{
    font-family: 'Poppins', ;
    margin: 0px;
}
.half-width{
    width: 40%;
    float: left;
    margin-right: 0px;
    padding-right: 0px; 
}
.half-width img{
    width: 80%;
    padding-top: 30%;
    margin-left: 5%;
}
.text-section{
    margin-left: 10%;
}
.header-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.first-section-custom-position{
    margin-top: 50%;

}
#name-customization{
    margin-top: 0px;
    font-size: 35px;
    font-weight: 900;
    color: deeppink;
}
p{
    margin-bottom: 50px;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: deeppink;
    padding: 12px 40px;
    border-radius: 5px;
    color: white;

}
.second-half-width img{
    width: 70%;
    margin-left: 50%;
    padding-top: 10%;
}
.second-half-width{
    width: 40%;
    float: left;
}
.second-section-custom-position{
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 5px;
}
.biography-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.biography-section{
    height: 600px;
    padding-bottom: 100px;

}
#text-third-section{
    text-align: center;
    padding-bottom: 30px;
}
.latest-work img{
    width: 25%;
    float: left;
    margin-left: 80px;
}
.latest-work-banner{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.latest-work-section{
    height: 400px;
    padding-bottom: 100px;
}
.client-area{
    text-align: center;

}
#small-font{
    font-size: 10px;
}
.client-review{
    width: 250px;
    padding-left: 40%;
    padding-bottom: 50px;    
}
#link-button-last-section{
    text-decoration: none;
    background-color: deeppink;
    margin: 0px 450px;
    padding: 30px 0px;
    border-radius: 10px;
    color: white;
}
.client-banner{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 90%;
}
footer p{
    text-align: center;
    font-size: 12px;
}